
.common{
    background-color:white;
    border: 2px solid black;
    position:absolute;
}
.header{
    top: 5px;
    left:15px;
    right:25px;
    height:100px;
}
.left{
    top:115px;
    left:15px;
    width:100px;
    bottom:40px;
    
}
.main{
    top:115px;
    left:130px;
    right:200px;
    bottom:40px;
    height:fit-content;

}
.right{
    top:115px;
    right:15px;
    width:150px;
    bottom:40px;
    
}
.footer{
    bottom:5px;
    left:15px;
    right:25px;
    height:25px;
    position:fixed;
    z-index:1;
}

body{
    background-color: yellow;
}
h1{
    text-align: center;
}
H2{
    text-align: center;
}
.first{
    font-style: italic;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:315%
}
.firstimage{
    display: block;
  margin: 0 auto;   /* centers horizontally */
  width: 80%;       /* or any width less than 100% */
}
.video{
  text-align: center;      /* centers inline/inline-block content */
}

.video iframe {
  display: inline-block;   /* ensures it respects text-align */
}